.ball-wrapper {
    position: relative;
    margin: 5px;
    width: 30vw;
    height: 30vh;
    background-color: aqua;
    border-left: 4px solid rgb(66, 130, 250);
    border-right: 4px solid rgb(66, 130, 250);
    box-sizing: border-box;
}

.ball {
    position: absolute;
    top: 30%;
    width: 70px;
    height: 70px;
    background: linear-gradient(145deg, rgb(222, 250, 66) 0%, rgb(7, 149, 184) 100%);
    border-radius: 50%;
    animation: movement 1.2s ease-in infinite;
}

@keyframes movement {
    0% {
        left: 0;
    }

    50% {
        left: 80%;
    }

    100% {
        left: 0;
    }
}