:root {
    --header: #2e364a;
    --link: #70778f;
    --dot: #1b2029;
    --bg-aside: #1e2737;
    --bg-profile: #15a5fa;
    --bg-head: #eff2f7;
}

@font-face {
    font-family: FontAwesome;
    src: url("assets/fonts/FontAwesome.otf");
}

@font-face {
    font-family: Proxima;
    src: url("assets/fonts/Proxima Nova Regular.otf");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header,
footer {
    display: flex;
    justify-content: end;
    gap: 20px;
    height: 50px;
    background-color: var(--header);
}

nav {
    display: flex;
    gap: 20px;
}

.dot {
    margin-top: 23px;
    width: 5px;
    height: 5px;
    background-color: var(--dot);
}

.link {
    margin-top: 15px;
    text-decoration: none;
    color: var(--link);
    font-family: FontAwesome;
    text-transform: capitalize;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    width: 180px;
    background-color: var(--bg-profile);
    color: #ffffff;
    font-family: Proxima;
    cursor: pointer;
}

.user-photo {
    margin-top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
}

.arrow-button {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    padding: 0;
    border: none;
    background: url(assets/img/arrow-down.png) 100% 100%/ 100% 100% no-repeat;
}

main {
    display: flex;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

/* FOOTER */

footer {
    gap: 0;
}

.questions,
.settings {
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.questions {
    background: url(assets/img/question.png) 50% 50%/ 50% 50% no-repeat, #1e2737;
}

.settings {
    background: url(assets/img/settings.png) 50% 50%/ 50% 50% no-repeat, var(--bg-profile);
}

/* ASIDE */

.sidebar {
    width: 265px;
    height: 150vh;
    background-color: var(--bg-aside);
}

.add {
    padding-top: 50px;
    min-height: 100px;
    box-shadow: 0px 7px 0px #19202e;
}

.add-button {
    display: block;
    margin: 0 auto;
    padding-left: 40px;
    width: 210px;
    height: 55px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    font-family: Proxima;
    font-size: 1.2rem;
    border-radius: 5px;
    background: url(./assets/img/plus.png) 10% 50%/ 15% 50% no-repeat, #f27a5b;
    border: none;
    cursor: pointer;
}

.book-menu,
.category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 245px;
    padding: 5px 10px;
    box-shadow: 0px 7px 0px #19202e;
    font-size: 1.3rem;
}

.menu-img {
    margin: 5px 15px 0 15px;
    width: 18px;
    filter: brightness(0) invert(0.6);
}

.book-menu .menu-link:hover {
    background-color: var(--bg-profile);
    color: white;
}

.menu-img:hover {
    filter: brightness(0) invert(1);
}

.menu-link,
.action-item,
.action-text {
    padding: 10px;
    text-decoration: none;
    text-align: left;
    color: var(--link);
}

.category {
    margin-left: 0px;
    min-height: 180px;
}

li:nth-child(1)::marker {
    color: #f27a5b;
}

li:nth-child(2)::marker {
    color: yellow;
}

li:nth-child(3)::marker {
    color: rgb(63, 164, 223);
}

li:nth-child(4)::marker {
    color: violet;
}

ul li:hover::marker {
    color: white;
    background-color: transparent;
}

.category li a:hover {
    color: white;
}

.category li {
    padding: 10px;
}

.actions {
    min-height: 250px;
}

.action-item {
    display: flex;
    margin: 10px auto;
    width: 200px;
}

.action-item .menu-img {
    height: 15px;
    margin-left: -5px;
}

/* SECTION HEAD */

article {
    width: calc(100vw - 302px);
}

h1 {
    margin: 0;
    padding: 0;
}

.section-head {
    width: 100%;
    height: 60px;
    background-color: var(--bg-head);
    color: var(--link);
    padding-left: 20px;
    padding-top: 30px;
    font-family: Proxima;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.filters {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    background-color: var(--bg-head);
    box-shadow: 0px 1px 4px #888888;
}

.filter-item {
    padding: 0 15px;
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    color: var(--link);
    cursor: pointer;
}

.filter-item:hover {
    background-color: var(--link);
    color: white;
    border-radius: 10px;
}

.search {
    margin-top: -6px;
    margin-right: 100px;
}

.search input {
    background-color: #ffffff;
    border: none;
}

.search-input {
    width: 150%;
    padding: 10px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background: url(./assets/svg/search.svg) 130% 50%/ 50% 50% no-repeat;
    border: 1px solid rgba(7, 104, 99, 0.4);
    font: 13px Tahoma, Arial, sans-serif;
    color: rgb(255, 255, 255);
    outline: none;
}

.search-input:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #E8E8E8;
    color: #333;
}

input[type="search"] {
    -webkit-appearance: none;
}

/* CARDS */

.cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin: 30px 20px;
}

.card-img {
    width: 195px;
    height: 260px;
}

h2,
.card-author p {
    margin: 0;
}

.card-name,
.card-author {
    color: var(--link);
    font-family: Proxima;
}

.card-name {
    margin: 10px 0 0 15px;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.card-author {
    margin: -5px 15px;
}

.rating-result {
    width: 100px;
    margin: -5px 50px 0 50px;
}

.rating-result span {
    padding: 0;
    font-size: 20px;
    /* margin: 0 3px; */
    /* line-height: 1; */
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-result>span:before {
    content: '★';
}

.rating-result>span.active {
    color: gold;
    text-shadow: 1px 1px #c60;
}

/* MODAL WINDOW */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-window {
    position: absolute;
    z-index: 11;
    width: 450px;
    height: 300px;
    top: 30%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Proxima;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(241, 136, 15, 0.3);
    background-color: #FFFFFF;
    color: var(--header);
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        left: 0;
    }

    to {
        left: 35%;
    }
}

.modal-window h2 {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #f17544;
    font-size: 2rem;
}

.modal-window button {
    width: 150px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #f17544;
    background-color: inherit;
    border: 2px solid #f17544;
    cursor: pointer;
}

.modal-window label {
    padding: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--header);
    margin-left: 30px;
}

.modal-window input[type="text"] {
    padding: 5px 40px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: 1px solid rgba(7, 104, 99, 0.4);
    font: 13px Tahoma, Arial, sans-serif;
    color: rgb(0, 0, 0);
    outline: none;
}